# Save me under: $HOME/.gitconfig

[alias]
  gc = "git commit"
  gm = "git merge"
[color]
  ui = auto
[commit]
  template = /Users/<YOUR_USER_NAME_HERE>/.gitmessage.txt
[core]
  editor = subl --new-window --wait
  excludesfile = /Users/<YOUR_USER_NAME_HERE>/.gitignore_global
[push]
  default = current
[user]
  email = <MY EMAIL ADDRESS HERE>
  name = <MY NAME HERE>
[status]
  short = 1
[git-up "bundler"]
  check = false
  autoinstall = false
[mergetool "sublime"]
  cmd = subl -w $MERGED
  trustExitCode = false
[merge]
  tool = sublime
