# Save me under: $HOME/.gitconfig

[alias]
  gc = "git commit"
  gm = "git merge"
  up = "pull --rebase --autostash"
[color]
  ui = true
[commit]
  template = /Users/<YOUR_USER_NAME_HERE>/.gitmessage.txt
[core]
  editor = code --wait
  excludesfile = /Users/<YOUR_USER_NAME_HERE>/.gitignore_global
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
  prune = true
[github]
  user = <YOUR_GITHUB_USER_NAME_HERE>
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
  trustExitCode = false
[push]
  default = current
[rebase]
  autostash = true
[stash]
  showPatch = true
[status]
  short = 1
[user]
  email = <MY EMAIL ADDRESS HERE>
  name = <MY NAME HERE>
